*{
  margin: 0;
  padding:0;
}
ul,li{ list-style: none;}
a{ text-decoration: none;}

/*size*/
$minWidth:1200px;
$width:1200px;

/*color*/
$nomal: #333;
$pink: #ff7c98;
$dark: #3f291a;
$white: #e2d9d6;

/*url <url은 배스킨라빈스를 참조하였습니다.>*/
$url: 'https://www.baskinrobbins.co.kr';

body{
  background:$white;
}

#header{
  min-width: $minWidth;
  border-top: 3px solid $pink;
  border-bottom:1px solid $dark;
  background: url($url + '/assets/images/common/bg_header.gif)');
  .heading{
    min-width: $minWidth;
    .head-menu-wrap{
      height: 45px;
      width:$width; margin:0 auto;
    }
  }
  .head-main{
    height: 145px; 
    border-bottom: 1px solid $white;
    .head-main-wrap{
      width: $width;
      position: relative;
      height: 145px;
      padding-top: 20px;
      margin: 0 auto;
      #logo{
        width:92px;
        height: 92px;
        margin:0 auto;
        a{
          display:block;
          width:100%; height: 100%;
          background: url($url + '/assets/images/common/logo_baskinrobbins.png');
        }
      }
      @mixin position {
        position: absolute;
        top: 50px;
        @content;
      }
      #sns{
        @include position;
        left: 0;
        li{
          float:left;
          padding-right:10px;
        }
      }
      #etc{
        @include position;
        right:0;
      }
    }
  }
  .head-menu{  
    background:#fff;  
      .member{
        float:left;
        height:100%;
        .members{
          float: left;
          margin:0 3px;
          line-height: 45px;
          a{
            color:$nomal;
            text-transform: uppercase;
            font-size: 12px;
          }
          .login{
            color: $pink;
          }
        }
      }
    } /*member*/ 
    .menu-group{
      float:right;
      .menu-wrap{
        .menu-choice{
          float:left;
          position: relative;
          z-index: 51;
          .choice-main{
            line-height: 45px;
            a{
              padding:0 59px;
              display: block;
              color: $nomal;
              text-transform: uppercase;
            }
            a.choice-padding{
              padding-left: 0 !important;
            }
          }
        }
        .choice-sub{
          padding-top: 2px;
          opacity: 0;
          -webkit-transition: opacity 0.5s ease;
          transition: opacity 0.5s ease;  
          overflow: hidden;
          position: absolute;
          top: 100%;
          left:0;
          font-size: 14px;
          width: 100%;
          .choice-sub-menu{
            padding-bottom: 12px;
            text-align: center;
            &:first-child{
              padding-top: 40px; 
            }
            a{
            display:block;
            padding:5px 0;
            color: $nomal;
            line-height: 1.2;
            text-transform: uppercase;
            }
            img{
              transform: translateX(-35px);
            }
          }
        }
      }
      .choice-sub.opacity{
        opacity: 1;
      }
    }/*menu-wrap*/
    .menu-bg{
      overflow: hidden;
      position: absolute;
      top: -81px;
      -webkit-transition: 0.3s ease;
       transition: 0.3s ease;
      left:0;
      height: 275px;
      z-index: 50;
      min-width: 100%;
      border-bottom:1px solid $dark;
      background: #fff;
      z-index: -1;
    }
    .menu-bg.openTop{
      top: 195px;
    }
}

